target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
sources/server/.classpath
sources/server/.project
sources/server/.settings/org.eclipse.core.resources.prefs
sources/server/.settings/org.eclipse.jdt.apt.core.prefs
sources/server/.settings/org.eclipse.jdt.core.prefs
sources/server/.settings/org.eclipse.m2e.core.prefs
